<!DOCTYPE html>
<html>
<head>
    {{ include('script_style_file.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
{% block content %}
    <div style="width: 50%; margin-left: 20%; margin-right: 20%">

        <div class="list-group" style="width: 80%; margin-left: 10%; margin-right: 10%">

            <ul class="list-group">
                {% for value in file %}
                    <li class="list-group-item"><b>Фаил :</b> {{ value }} </li>
                {% endfor %}
            </ul>

        </div>

    </div>
    <div style="width: 50%; margin-left: 20%; margin-right: 20%">
        <div class="container">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="mb-2">
                    <input type="text" name="dir" class="form-control">
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Получить</button>
                </div>
            </form>
        </div>
        <br><br><a href="{{ host }}/users/logout/">ВЫЙТИ</a>
    </div>

{% endblock %}

</body>
</html>