<!DOCTYPE html>
<html>
<head>
    {{ include('script_style_file.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
{% block content %}
    <div style="width: 50%; margin-left: 20%; margin-right: 20%">

        <div class="list-group" style="width: 80%; margin-left: 10%; margin-right: 10%">

                <ul class="list-group">
                    {% for key, value in file %}
                        <li class="list-group-item"><b>{{ key }}</b> : {{ value }} </li>
                    {% endfor %}
                </ul>

        </div>

    </div>
    <div style="width: 50%; margin-left: 20%; margin-right: 20%">
        <div class="container">
            <form method="post" action="" enctype="multipart/form-data">
                <div class="mb-2">
                    <select name="file" class="form-select">
                        <option selected>Выбрать фаил</option>
                        {% for key,value in file %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2">
                    <select name="dir" class="form-select">
                        <option selected>Выбрать папку для нового файла</option>
                        {% for key,value in dir %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-2">
                    <input type="text" name="newname" class="form-control" placeholder="New Name File">
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
        <br><br><a href="{{ host }}/users/logout/">ВЫЙТИ</a>
    </div>

{% endblock %}

</body>
</html>