<!DOCTYPE html>
<html>
<head>
    {{ include('script_style_admin.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
<div style="width: 50%; margin-left: 20%; margin-right: 20%">
    <h2>SkillBox</h2>

    <p>{{ message }}</p>

    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Role</th>
            <th scope="col">Date</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.date_created }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a href="{{ url }}">Показать всех пользователей</a>
</div>

</body>
</html>