<!DOCTYPE html>
<html>
<head>
    {{include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>

<h2>SkillBox</h2>
<h3>{{ message }}</h3><br>
    <p class="lead">
        {{ user.email }}<br>
        {{ user.role }}<br>
        {{ user.date_created }}<br>
    </p>

</body>
</html>