<!DOCTYPE html>
<html>
<head>
    {{ include('script_style.html.twig') }}
    <title>SkillBox</title>
</head>
<body>
<div style="width: 50%; margin-left: 20%; margin-right: 20%">
    <h2>SkillBox</h2>
    <h3>{{ message }}</h3><br>
    <div>
        {{ user.email }}<br>
        {{ user.role }}<br>
        {{ user.date_created }}<br>

    </div>
</div>
</body>
</html>